body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

main .latestProjects .loadButton button, main .textBox .textBoxContent button, header .about button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  padding-top: 3px;
  font-weight: 800;
  background: #998675;
  width: 170px;
  height: 50px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #736357;
          box-shadow: 0 3px 0 0 #736357;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .loadButton button:hover, main .textBox .textBoxContent button:hover, header .about button:hover {
  background: #66574c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/backgroundPhoto.jpg) no-repeat center top/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgroundPhoto.jpg) no-repeat center top/cover;
}
header .logoAndMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
header .logoAndMenu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logoAndMenu .logo h3 {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
}
header .logoAndMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
}
header .logoAndMenu .menu .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
header .logoAndMenu .menu .navigation a {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
header .logoAndMenu .menu .navigation a:hover {
  color: #baa790;
}
header .logoAndMenu .menu .cartAndSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
header .logoAndMenu .menu .cartAndSearch img {
  cursor: pointer;
}
header .about {
  margin: 240px auto;
  width: 65%;
  text-align: center;
}
header .about h3 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  font-weight: 500;
  color: #ffffff;
}
header .about h1 {
  font-family: "Raleway", sans-serif;
  font-size: 52px;
  font-weight: 800;
  color: #ffffff;
  font-weight: 800;
}
header .about p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
  width: 80%;
  margin: 18px auto;
}
header .about button {
  margin-top: 50px;
}

main .servicesAndRealizationOfIdeas {
  height: 1070px;
  background: url(../images/realizationOfIdeasPhoto.jpg) no-repeat center bottom/80%;
}
main .servicesAndRealizationOfIdeas .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 80px;
}
main .servicesAndRealizationOfIdeas .services div {
  width: 240px;
  text-align: center;
  cursor: pointer;
}
main .servicesAndRealizationOfIdeas .services div h2 {
  font-family: "Raleway", sans-serif;
  font-size: 22px;
  font-weight: 600;
  color: #555555;
  padding-top: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .servicesAndRealizationOfIdeas .services div p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9e9e9e;
  padding-top: 15px;
}
main .servicesAndRealizationOfIdeas .services div:after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  width: 60px;
  border-bottom: 3px solid #c7b299;
  opacity: 0.2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .servicesAndRealizationOfIdeas .services div:hover:after {
  opacity: 1;
}
main .servicesAndRealizationOfIdeas .services div:hover h2 {
  color: #c7b299;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas {
  margin-top: 140px;
  text-align: center;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #9e9e9e;
  width: 650px;
  margin: 0 auto;
  padding-top: 15px;
}
main .textBox {
  background: url(../images/textBoxBackground.jpg) no-repeat center top/cover;
  width: 100%;
  height: 150px;
}
main .textBox .textBoxContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
main .textBox .textBoxContent h2 {
  font-family: "Raleway", sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #ffffff;
}
main .textBox .textBoxContent span {
  color: #c7b299;
}
main .textBox .textBoxContent h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #615855;
}
main .latestProjects {
  padding: 80px 0;
  text-align: center;
}
main .latestProjects h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
main .latestProjects p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #9e9e9e;
  margin: 30px auto;
  width: 80%;
}
main .latestProjects .filters {
  margin-top: 40px;
}
main .latestProjects .filters button {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #9e9e9e;
  height: 30px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: none;
  padding: 0 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  outline: none;
}
main .latestProjects .filters button:hover, main .latestProjects .filters button.active {
  background-color: #998675;
  color: #f3f1f0;
}
main .latestProjects .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 320px 30px 320px 30px 320px;
  grid-template-columns: 320px 320px 320px;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  margin-top: 40px;
}
main .latestProjects .projects .project {
  height: 320px;
  position: relative;
}
main .latestProjects .projects .project .searchBackground {
  display: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .projectPhoto img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 320px;
  height: 220px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .lowerBackground {
  position: relative;
  height: 100px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  text-align: left;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 3;
}
main .latestProjects .projects .project .lowerBackground:before {
  display: block;
  position: absolute;
  left: 10px;
  top: -7px;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .lowerBackground h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #c7b299;
}
main .latestProjects .projects .project .lowerBackground p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  margin: 10px 0 0 0;
}
main .latestProjects .projects .project:hover .searchBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 100px;
  z-index: 3;
}
main .latestProjects .projects .project:hover .searchBackground img {
  -o-object-fit: none;
     object-fit: none;
  cursor: pointer;
  opacity: 1;
  -webkit-animation-name: Appearance;
          animation-name: Appearance;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
          animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}
@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .latestProjects .projects .project:hover .projectPhoto img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
main .latestProjects .projects .project:hover .lowerBackground, main .latestProjects .projects .project:hover .lowerBackground:before {
  background-color: #362f2d;
}
main .latestProjects .loadButton {
  margin-top: 40px;
}
main .videoPresentation {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/videoPresentationBackground.jpg) no-repeat center top/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/videoPresentationBackground.jpg) no-repeat center top/cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 700px;
  padding: 210px 0;
}
main .videoPresentation .playIconContainer {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .videoPresentation .playIconContainer .playIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .videoPresentation .playIconContainer .playIcon img {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .videoPresentation .playIconContainer .playIcon:hover {
  width: 120px;
  height: 120px;
}
main .videoPresentation .playIconContainer .playIcon:hover img {
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}
main .videoPresentation h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #ffffff;
  margin-top: 40px;
  text-align: center;
}
main .videoPresentation p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #dfe0e1;
  width: 65%;
  margin: 30px auto 0 auto;
  text-align: center;
}
main .videoPresentation h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #c2ae96;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}