body, h1, h2, h3, h6, p {
  margin: 0;
  padding: 0;
}

main .latestProjects .loadButton button, main .textBox .textBoxContent button, header .about button {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 800;
  color: #ffffff;
  padding-top: 3px;
  font-weight: 800;
  background: #998675;
  width: 170px;
  height: 50px;
  border-radius: 4px;
  border: none;
  -webkit-box-shadow: 0 3px 0 0 #736357;
          box-shadow: 0 3px 0 0 #736357;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .loadButton button:hover, main .textBox .textBoxContent button:hover, header .about button:hover {
  background: #66574c;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}

header {
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/backgroundPhoto.jpg) no-repeat center top/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/backgroundPhoto.jpg) no-repeat center top/cover;
  position: relative;
  overflow: hidden;
}
header:before {
  display: block;
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 0;
  -webkit-transition: 0.3s background-color;
  transition: 0.3s background-color;
}
header.active:before {
  background-color: black;
  opacity: 0.3;
  width: 100%;
  height: 100vh;
}
header .logoAndMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
}
header .logoAndMenu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logoAndMenu .logo h3 {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
}
header .logoAndMenu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .logoAndMenu .menu .menuContainer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  overflow-x: visible;
}
header .logoAndMenu .menu .menuContainer .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 28px;
}
header .logoAndMenu .menu .menuContainer .navigation a {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
header .logoAndMenu .menu .menuContainer .navigation a:hover {
  color: #baa790;
}
header .logoAndMenu .menu .menuContainer .cartAndSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}
header .logoAndMenu .menu .menuContainer .cartAndSearch img {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
header .logoAndMenu .menu .menuContainer .cartAndSearch img:hover {
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}
header .logoAndMenu .menu .burger {
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
header .logoAndMenu .menu .burger:after, header .logoAndMenu .menu .burger:before {
  content: "";
  background-color: #ffffff;
  position: absolute;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
header .logoAndMenu .menu .burger:before {
  top: calc(100% - 2px);
}
header .logoAndMenu .menu .burger span {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  top: calc(50% - 1px);
  -webkit-transition: inherit;
  transition: inherit;
}
header .logoAndMenu .menu.active .burger span {
  -webkit-transform: scale(0);
          transform: scale(0);
}
header .logoAndMenu .menu.active .burger:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 50%;
}
header .logoAndMenu .menu.active .burger:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: calc(50% - 2px);
}
header .about {
  margin: 240px auto;
  width: 65%;
  text-align: center;
}
header .about h3 {
  font-family: "Raleway", sans-serif;
  font-size: calc(16px + 20 * ((100vw - 320px) / 960));
  font-weight: 500;
  color: #ffffff;
}
header .about h1 {
  font-family: "Raleway", sans-serif;
  font-size: calc(24px + 28 * ((100vw - 320px) / 960));
  font-weight: 800;
  color: #ffffff;
  font-weight: 800;
}
header .about p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 6 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #ffffff;
  width: 80%;
  margin: 18px auto;
  line-height: 25px;
}
header .about button {
  margin-top: 20%;
}

main .servicesAndRealizationOfIdeas {
  background: url(../images/realizationOfIdeasPhoto.jpg) no-repeat center bottom/80%;
  padding-bottom: 40vw;
}
main .servicesAndRealizationOfIdeas .services {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  grid-column-gap: 10px;
  padding-top: 80px;
}
main .servicesAndRealizationOfIdeas .services div {
  text-align: center;
  cursor: pointer;
}
main .servicesAndRealizationOfIdeas .services div h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(14px + 8 * ((100vw - 320px) / 960));
  font-weight: 600;
  color: #555555;
  padding-top: 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .servicesAndRealizationOfIdeas .services div p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #9e9e9e;
  padding-top: 15px;
  width: 70%;
  margin: 0 auto;
}
main .servicesAndRealizationOfIdeas .services div:after {
  content: "";
  display: block;
  margin: 0 auto;
  padding-top: 30px;
  width: 60px;
  border-bottom: 3px solid #c7b299;
  opacity: 0.2;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .servicesAndRealizationOfIdeas .services div:hover:after {
  opacity: 1;
}
main .servicesAndRealizationOfIdeas .services div:hover h2 {
  color: #c7b299;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas {
  margin-top: 5vw;
  text-align: center;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(17px + 13 * ((100vw - 320px) / 960));
  font-weight: 600;
  color: #555555;
}
main .servicesAndRealizationOfIdeas .realizationOfIdeas p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #9e9e9e;
  width: 70%;
  margin: 0 auto;
  padding-top: 15px;
}
main .textBox {
  background: url(../images/textBoxBackground.jpg) no-repeat center top/cover;
  width: 100%;
  padding: 40px 0;
}
main .textBox .textBoxContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
main .textBox .textBoxContent h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(18px + 10 * ((100vw - 320px) / 960));
  font-weight: 400;
  color: #ffffff;
}
main .textBox .textBoxContent span {
  color: #c7b299;
}
main .textBox .textBoxContent h3 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(13px + 5 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #615855;
}
main .latestProjects {
  padding: 80px 0;
  text-align: center;
}
main .latestProjects h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  font-weight: 600;
  color: #555555;
}
main .latestProjects p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 4 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #9e9e9e;
  margin: 30px auto;
  width: 80%;
}
main .latestProjects .filters {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
main .latestProjects .filters button {
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #9e9e9e;
  height: 30px;
  min-width: 115px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: none;
  padding: 0 20px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  cursor: pointer;
  outline: none;
}
main .latestProjects .filters button:hover, main .latestProjects .filters button.active {
  background-color: #998675;
  color: #f3f1f0;
}
main .latestProjects .projects {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 30px auto 30px auto;
  grid-template-columns: auto auto auto;
  justify-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 30px;
  margin-top: 40px;
}
main .latestProjects .projects .project {
  width: 320px;
  height: 320px;
  position: relative;
}
main .latestProjects .projects .project .searchBackground {
  display: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .projectPhoto {
  height: 68%;
}
main .latestProjects .projects .project .projectPhoto img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .lowerBackground {
  position: relative;
  height: 100px;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 30px;
  text-align: left;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  z-index: 3;
}
main .latestProjects .projects .project .lowerBackground:before {
  display: block;
  position: absolute;
  left: 10px;
  top: -7px;
  content: "";
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #ffffff;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .latestProjects .projects .project .lowerBackground h3 {
  font-family: "Raleway", sans-serif;
  font-size: calc(16px + 4 * ((100vw - 320px) / 960));
  font-weight: 500;
  color: #c7b299;
}
main .latestProjects .projects .project .lowerBackground p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(11px + 3 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #d1d1d1;
  margin: 10px 0 0 0;
}
main .latestProjects .projects .project:hover .searchBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: calc(34% - 14px);
  z-index: 3;
}
main .latestProjects .projects .project:hover .searchBackground img {
  -o-object-fit: none;
     object-fit: none;
  cursor: pointer;
  opacity: 1;
  -webkit-animation-name: Appearance;
          animation-name: Appearance;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
          animation-timing-function: cubic-bezier(0.1, -0.6, 0.2, 0);
}
@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
main .latestProjects .projects .project:hover .projectPhoto img {
  -webkit-filter: brightness(40%);
          filter: brightness(40%);
}
main .latestProjects .projects .project:hover .lowerBackground, main .latestProjects .projects .project:hover .lowerBackground:before {
  background-color: #362f2d;
}
main .latestProjects .loadButton {
  margin-top: 40px;
}
main .videoPresentation {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/videoPresentationBackground.jpg) no-repeat center top/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/videoPresentationBackground.jpg) no-repeat center top/cover;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 700px;
  padding: 210px 0;
}
main .videoPresentation .playIconContainer {
  width: 130px;
  height: 130px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .videoPresentation .playIconContainer .playIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3);
  width: 100px;
  height: 100px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .videoPresentation .playIconContainer .playIcon img {
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
main .videoPresentation .playIconContainer .playIcon:hover {
  width: 120px;
  height: 120px;
}
main .videoPresentation .playIconContainer .playIcon:hover img {
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}
main .videoPresentation h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(26px + 4 * ((100vw - 320px) / 960));
  font-weight: 500;
  color: #ffffff;
  margin-top: 40px;
  text-align: center;
}
main .videoPresentation p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + 2 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #dfe0e1;
  width: 65%;
  margin: 30px auto 0 auto;
  text-align: center;
}
main .videoPresentation h3 {
  font-family: "Montserrat", sans-serif;
  font-size: calc(12px + 2 * ((100vw - 320px) / 960));
  font-weight: 400;
  color: #c2ae96;
  cursor: pointer;
  text-align: center;
  margin-top: 40px;
}
main .excellentForMobileDevices {
  padding-top: 80px;
  background-color: #fbfaf8;
}
main .excellentForMobileDevices .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
main .excellentForMobileDevices .container .phoneImage img {
  display: block;
}
main .excellentForMobileDevices .container .textBlock {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 120px;
}
main .excellentForMobileDevices .container .textBlock h2 {
  font-family: "Raleway", sans-serif;
  font-size: calc(20px + 10 * ((100vw - 320px) / 960));
  font-weight: 600;
  color: #555555;
}
main .excellentForMobileDevices .container .textBlock p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 6 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #8c8c8c;
  margin-top: 40px;
  text-align: justify;
  line-height: 25px;
}
main .excellentForMobileDevices .container .textBlock .features {
  margin-top: 40px;
  margin-left: 50px;
}
main .excellentForMobileDevices .container .textBlock .features .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  margin-top: 12px;
}
main .excellentForMobileDevices .container .textBlock .features .feature p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(10px + 6 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #9d9d9d;
  margin: 0;
}
main .counters {
  background: url(../images/countersBackground.jpg) no-repeat center top/cover;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 60px 0 30px 0;
}
main .counters .countersContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
main .counters .countersContent .counter {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(16.66% - 20px);
          flex: 0 0 calc(16.66% - 20px);
  height: 100%;
  text-align: center;
}
main .counters .countersContent .counter .numbers {
  font-family: "Montserrat", sans-serif;
  font-size: calc(20px + 28 * ((100vw - 320px) / 960));
  font-weight: 400;
  color: #ffffff;
  margin-top: 25px;
}
main .counters .countersContent .counter p {
  font-family: "Montserrat", sans-serif;
  font-size: calc(8px + 6 * ((100vw - 320px) / 960));
  font-weight: 300;
  color: #c7b299;
  margin-top: 20px;
  white-space: nowrap;
}
main .counters .countersContent .counter:after {
  content: "";
  width: 32px;
  height: 2px;
  background-color: #ffffff;
  display: block;
  position: absolute;
  bottom: -10px;
  left: calc(50% - 16px);
}
main .recentPosts {
  padding: 80px 0;
}
main .recentPosts .text {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
main .recentPosts .text h2 {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  color: #555555;
}
main .recentPosts .text p {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #9e9e9e;
  margin-top: 25px;
  line-height: 25px;
}
main .recentPosts .posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
}
main .recentPosts .posts .post {
  width: 32%;
  position: relative;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  padding-bottom: 30px;
  cursor: pointer;
}
main .recentPosts .posts .post .postImage {
  height: 200px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postImage img {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .calendar {
  position: absolute;
  text-align: center;
  left: 20px;
  top: 20px;
  overflow: hidden;
  border-radius: 7px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .calendar .date {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #ffffff;
  width: 50px;
  height: 35px;
  background-color: #363636;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 4px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .calendar .month {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #ffffff;
  width: 50px;
  height: 25px;
  background-color: #252525;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 6px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText {
  width: 90%;
  margin: 0 auto;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText h3 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #555555;
  margin-top: 30px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #8c8c8c;
  margin-top: 20px;
  line-height: 23px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText .readMore {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText .readMore p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #cfbda9;
  margin: 0;
  -webkit-transition: inherit;
  transition: inherit;
}
main .recentPosts .posts .post .postText .readMore p:hover {
  color: #e08614;
}
main .recentPosts .posts .post .postText .readMore img {
  -o-object-fit: none;
     object-fit: none;
}
main .recentPosts .posts .post.active {
  /* hover upon click arrows */
  background-color: #362f2d;
}
main .recentPosts .posts .post.active .postImage img {
  -webkit-filter: opacity(20%);
          filter: opacity(20%);
}
main .recentPosts .posts .post.active .calendar .date {
  background-color: #c7b299;
  color: #ffffff;
}
main .recentPosts .posts .post.active .calendar .month {
  background-color: #a48d72;
  color: #ffffff;
}
main .recentPosts .posts .post.active .postText h3 {
  color: #c7b299;
}
main .recentPosts .posts .post.active .postText p {
  color: #ffffff;
}
main .recentPosts .changeButtons {
  text-align: center;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .recentPosts .changeButtons .changeButton {
  position: relative;
  cursor: pointer;
}
main .recentPosts .changeButtons .changeButton img {
  padding: 0 10px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
  margin-top: 5px;
}
main .recentPosts .changeButtons .changeButton:after {
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  content: "";
  display: block;
  position: absolute;
  left: calc(50%);
  top: calc(50%);
  width: 0;
  height: 0;
}
main .recentPosts .changeButtons .changeButton:hover img {
  -webkit-filter: opacity(30%);
          filter: opacity(30%);
}
main .recentPosts .changeButtons .changeButton:hover:after {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
}
main .partners {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../images/partnersBackground.jpg) no-repeat center center/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/partnersBackground.jpg) no-repeat center center/cover;
  padding: 140px 0;
}
main .partners .partnersLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  background-color: #191919;
  padding: 80px 30px;
}
footer .info .aboutWaxom .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
}
footer .info .aboutWaxom .logo h3 {
  font-family: "Raleway", sans-serif;
  font-size: 34px;
  font-weight: 400;
  color: #ffffff;
  padding: 0;
}
footer .info .aboutWaxom p {
  color: #555555;
}
footer .info .aboutWaxom .readMore {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 10px;
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
footer .info .aboutWaxom .readMore p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #d1d1d1;
  -webkit-transition: inherit;
  transition: inherit;
}
footer .info .aboutWaxom .readMore img {
  -o-object-fit: none;
     object-fit: none;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
footer .info .aboutWaxom .readMore:hover p {
  color: #898989;
}
footer .info .aboutWaxom .readMore:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
}
footer .info .recentPostsInfo .datesOfInfo .date {
  cursor: pointer;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
footer .info .recentPostsInfo .datesOfInfo .date h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #363636;
  -webkit-transition: inherit;
  transition: inherit;
}
footer .info .recentPostsInfo .datesOfInfo .date p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4f4f4f;
  -webkit-transition: inherit;
  transition: inherit;
}
footer .info .recentPostsInfo .datesOfInfo .date:hover h6 {
  color: #d3d3d3;
}
footer .info .recentPostsInfo .datesOfInfo .date:hover p {
  color: #c7b299;
}
footer .info .ourTwitter .textBlock h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 300;
  color: #363636;
}
footer .info .ourTwitter .textBlock p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #4f4f4f;
}
footer .info .ourTwitter .textBlock p span {
  color: #00bff3;
  cursor: pointer;
  -webkit-transition: 0.2s color;
  transition: 0.2s color;
}
footer .info .ourTwitter .textBlock p span:hover {
  color: #007192;
}
footer .info .ourTwitter .textBlock p span.link {
  color: #959595;
}
footer .info .widgets .widgetImages {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 5px auto;
  grid-template-columns: auto auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}
footer .info .widgets .widgetImages img {
  width: 130px;
  height: 100px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
footer .info .widgets .widgetImages img:hover {
  cursor: pointer;
  -webkit-filter: opacity(0.3);
          filter: opacity(0.3);
}
footer .info hr {
  border: none;
  color: #252525;
  background-color: #252525;
  height: 1px;
  margin: 15px 0;
}
footer .info h3 {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #ffffff;
  padding-bottom: 30px;
}
footer .info p {
  line-height: 25px;
}
footer .copyright {
  background-color: #111111;
  padding: 45px 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #555555;
}
footer .copyright .help a {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #555555;
  text-decoration: none;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
footer .copyright .help a:hover {
  color: #c7b299;
}
footer .copyright, footer .copyright .help, footer .copyright .autors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .copyright p span, footer .copyright .help p span, footer .copyright .autors p span {
  color: #959595;
}
footer .copyright .verticalLine, footer .copyright .help .verticalLine, footer .copyright .autors .verticalLine {
  border-right: 1px solid #202020;
  margin: 0 10px;
}