@media (min-width: 1920px) {
    main {
        .latestProjects {
            .projects {
                gap: 50px;

                .project {
                    width: 420px;
                    height: 420px;
                }
            }
        }
    }
}

@media (max-width: 1220px) {
    .wrapper {
        width: 90%;
    }

    header {
        .logoAndMenu {
            .menu {
                .menuContainer {
                    gap: 30px;

                    .navigation {
                        gap: 20px;



                    }
                }
            }
        }
    }

}

@media (max-width: 1090px) {
    main {
        .servicesAndRealizationOfIdeas {
            .services {
                grid-template-columns: auto auto;
                justify-content: space-evenly;
                grid-row-gap: 30px;
            }

            .realizationOfIdeas {
                margin-top: 8vw;
            }
        }

        .latestProjects {
            .projects {
                grid-template-columns: auto auto;
            }
        }
    }
}

@media (max-width: 960px) {
    header {
        .logoAndMenu {
            .menu {
                .menuContainer {
                    position: absolute;
                    top: 0;
                    right: -300px;
                    width: 300px;
                    height: 100vh;
                    background-color: #1f1f1f;
                    flex-direction: column;
                    justify-content: center;
                    gap: 60px;
                    transition: 0.3s all;

                    .navigation {
                        flex-direction: column;
                        height: 50vh;
                        justify-content: space-between;
                    }
                }
                .burger {
                    display: block;
                }

                &.active {
                    .menuContainer {
                        right: 0;
                    }
                }
            }

        }
        .about {
            margin: 120px auto;
            width: 95%;
        }
    }



    main {
        .latestProjects {
            p {
                width: 100%;
                margin: 10px auto;
            }
        }

        .excellentForMobileDevices {
            .container {
                .phoneImage {
                    display: none;
                }

                .textBlock {
                    padding: 0 0 40px 0;
                    text-align: center;

                    .features {
                        margin-left: 10%;
                    }
                }
            }
        }
    }
}


@media (max-width: 768px) {
    main {
        .latestProjects {
            p {
                width: 100%;
                margin: 10px auto;
            }

            .projects {
                .project {
                    width: 250px;
                    height: 250px;

                    .lowerBackground {
                        padding: 20px 10px;
                    }
                }
            }
        }

        .videoPresentation {
            padding: 100px 0;
        }

    }
}

@media (max-width: 560px) {
    main {
        .servicesAndRealizationOfIdeas {
            .services {
                grid-template-columns: auto;

                div {
                    img {
                        width: 10%;
                        height: 10%;
                    }
                }
            }
            .realizationOfIdeas {
                margin-top: 15vw;
            }
        }

        .textBox {
            text-align: center;

            .textBoxContent {
                display: block;

                div {
                    margin-bottom: 30px;
                }
            }
        }

        .latestProjects {
            .projects {
                grid-template-columns: auto;
            }
        }

        .excellentForMobileDevices {
            .container {
                .textBlock {
                    .features {
                        margin-left: 0;
                    }
                }
            }
        }

    }
}


@media (max-width: 320px) {

    header {
        .about {
            p {
                width: 100%;
            }
        }
    }


}